{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Registration</title>
{% endblock title %}

{% block content %}

<div class="container p-2">

    <h1><p class="text-primary ">Registration Form</p></h1>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            {{message}}

         </div>

        {% endfor %}
    {% endif %}

    <form method="Post" class="col-6">
        {% csrf_token %}
            {{registration_forms | crispy }}
        <button type="submit" class="btn btn-primary col-lg-2">Register</button>
    </form>
</div>
{% endblock content %}
